<%= form_with model: @manga do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @manga.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>